<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlzl.estate.mapper.RotationChartMapper">
    <resultMap id="chartMap" type="com.zlzl.estate.model.RotationChart">
        <result column="id" property="id"></result>
        <result column="orderNo" property="orderNo"></result>
        <result column="picUrl" property="picUrl" jdbcType="VARCHAR"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="state" property="state"></result>
    </resultMap>

    <select id="list" resultMap="chartMap">
        SELECT * FROM rotationChart ORDER BY orderNo DESC
    </select>

   <!-- <insert id="add" parameterMap="chartMap" >
        INSERT INTO rotationChart VALUES (#{orderNo},#{picUrl})
    </insert>

    <delete id="delete" parameterType="Integer">
        DELETE FROM rotationChart WHERE id=#{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.zlzl.estate.model.RotationChart">
        UPDATE rotationChart
        <set>
            <if test="orderNo != null">
                orderNo=#{orderNo,jdbcType=INTEGER}
            </if>
            <if test="picUrl != null">
                picUrl=#{picUrl,jdbcType=VARCHAR}
            </if>
        </set>
    </update>-->
</mapper>